@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-white overflow-x-hidden;
}

.section-container {
  @apply 2xl:container xl:px-20 px-4 mx-auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e282a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
